.manage{
    color: #000000;
    margin-top: 80px;
    margin-left: 200px;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px #aaaaaa;
    width: 500px;
    height: 220px;
    padding: 20px;
  
}

label{
    padding: 20px;

}

.mb{
    margin: 20px;

}

#add{
    margin-left: 90px;
    margin-bottom: 40px ;
}

#safe{
    margin-left: 150px;
    margin-bottom: 40px ;
}

.buttons{
    margin-left: 175px;
    padding: 10px;
    
    
}

.buttontwo{
    margin-left: 15px;
}
