
/*
Nämä tyylit tulee Allproducts.js (Kaikki tuotteet) koska siellä on vielä toistaseksi sama className products!
*/
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

.products{
display: inline-grid;
grid-auto-flow: column;
grid-auto-flow: row;
grid-gap: 20px;
color:black;
}

.otsikko{
    margin-top:20px;
    display:block;
    color:#000000;
}

.products button{
    background-color: #ffda05;
    width: 140px;
    color: black;
    margin-left:15px;
    margin-top:5px;
    padding:5px;
    border: none;
}

.btn:hover{
background-color: #1e2034;
color: #ffda05;
}

h3{
    font-family: 'Patrick Hand SC', cursive;
}
.tuotekuva{
    padding:15px;
    margin:auto;
}
.tuotenimi{
    display:inline-block;
    margin-left:15px;
    color:black;
}
.tuotehinta{
    font-size: large;
    font-weight: bold;
    margin-left:15px;
}
.photo{
        width: 220px;
        height: 220px;
      }

.tuotekortti{
    margin:auto;
    padding:10px;
}

@media screen and (min-width: 992px) {
    .products{
        grid-template-columns: auto auto auto auto;
        }
  }

  @media screen and (max-width: 992px) {
    .products{
        grid-template-columns: auto auto auto;
        }
  }

  @media screen and (max-width: 768px) {
    .products{
        grid-template-columns: auto auto;
        }
  }


  @media screen and (max-width: 600px) {
    .products{
        grid-template-columns: auto;
        }
  }