
/*
Nämä tyylit tulee Allproducts.js (Kaikki tuotteet) koska siellä on vielä toistaseksi sama className products!
*/
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');


/* .products{
margin-left: 200px;
display: grid;
flex-direction: column;
flex-wrap: nowrap;
} */

.products{
display: inline-grid;
grid-template-columns: auto auto auto auto;
grid-auto-rows: max-content;
/* display:flex; */
grid-gap: 20px;
color:black;
}

.otsikko{
    margin-top:20px;
    display:block;
    color:#f5f5f5;
}

.products button{
    background-color: #ffed00;
    width: 140px;
    color: black;
    margin-left:15px;
    margin-top:5px;
    padding:5px;
    border: none;
}
h3{
    font-family: 'Patrick Hand SC', cursive;
}
.tuotekuva{
    padding:15px;
    margin:auto;
}
.tuotenimi{
    display:inline-block;
    margin-left:15px;
    color:black;
}
.tuotehinta{
    font-size: large;
    font-weight: bold;
    margin-left:15px;
}
.photo{
        width: 200px;
        height: 200px;
      }

.shoppingCart{
    width: 100px;
    height: 100px;
}
.shoppincartImages{
    width: 100px;
    height: 100px;
}
.tuotekortti{
    margin:auto;
    padding:10px;
    background-color: #f5f5f5;
    border-radius: 5px;
   ;
}

/* .testi a:hover{
    background-color: #ffed00;
   ;
} */

