
/*
Nämä tyylit tulee Allproducts.js (Kaikki tuotteet) koska siellä on vielä toistaseksi sama className products!
*/
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

.products{
display:flex;
margin-top:20px;
margin-bottom:30px;
color:antiquewhite;
justify-content: center;

}
.otsikko{
    margin-top:20px;
    display:block;
    color:antiquewhite;
}

.products button{
    background-color: yellow;
    color: black;
    margin-left: 20px;
    margin-bottom: 20px;
}
h3{
    font-family: 'Patrick Hand SC', cursive;
}
.tuotekuva{
    padding:15px;
    margin:auto;
}
.tuotenimi{
    display:inline-block;
    margin-left:15px;
    padding:10px;
}
.photo{
    
        width: 150px;
        height: 150px;
      }

.shoppingCart{
    width: 100px;
    height: 100px;
}
.shoppincartImages{
    width: 100px;
    height: 100px;
}
.testi{
    border: 1px solid white;
    margin:auto;
    padding:10px;
}

