
/*
Nämä tyylit tulee Allproducts.js (Kaikki tuotteet) koska siellä on vielä toistaseksi sama className products!
*/

.products{
margin-top:50px;
margin-bottom:30px;
color:antiquewhite;
}

.products button{
    background-color: yellow;
    color: black;
    margin-left: 20px;
    margin-bottom: 20px;
}

