@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
.otsikko{
  size: auto;
}

/* .g-4{
width: 600px;
} */

/* Gridcardien tyylit */
.card-img-top{
 max-width: 80%;
 align-self: center;
 padding-bottom: 10px;
}

.card{
  padding-top: 20px;
  padding-bottom: 15px;
}

.card-title, .card-text{
  margin-left: 20px;
}

.navbar {
  height: 100px;
  background-color: #1e2034;
}
/*navbar tyyli*/
.me-auto{
padding-top: 30px;
}

.row {
   padding-top: 50px;
}

.col{
  margin-bottom: 10px;
}

#basic-nav-dropdown{
  color: #f5f5f5;
}

/*karusellin tyylit*/
.karuselli{
 height: auto;
 width: auto;
 margin: auto;
 align-items: center;
 border: 2px solid #1e2034;
}

.d-block{
  height: auto;
}

/*Dropdown menun tyylit*/
.nav-item .dropdown-menu {
  background-color: #f5f5f5;
}

.linkki{
  color: #141623;
}

.dropdown-menu a:hover {
  color: #ffda05;
  background-color: none;
}

.navbar-nav{
  margin-left: 5px;
}

/*Ostoskori kuvakkeen tyylit*/
.ostoskori {
  list-style: none;
  font-size: 24px;
  align-items: baseline;
  color: #ffda05!important;
  margin-bottom: 3px;
  margin-left: 20px;
}

.lkm{
  margin-left: 10px;
}


/*Ostoskorin sisällön koodit*/
.shoppincartImages{
  width: 120px;
  height: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header{
  color: #000000;
  padding-bottom: 10px;
}

.euro{
  color: #000000;
  height: 50px;
  border-bottom: 1.5px solid #000000;
  height: 125px;
}

.summa{
  font-weight: bold;
  color: #000000;
  height: 60px;
  border-bottom: 1.5px solid #000000;
}

.poista{
  color: #000000;
}

.poista:hover{
  color: #ffda05;
}

/* Tilauslomake */
.tlomake{
  font-size: x-large;
  color: #000000;
  font-family: 'Patrick Hand SC';
  padding-bottom: 25px;
  padding-bottom: 1px;
}

.button{
  margin-top: 50px;
  background-color: #ffda05;
    width: 140px;
    color: black;
    padding:5px;
    border: none; 
}

.button:hover{
  background-color: #1e2034;
  color: #ffda05;
}

.tilaus{
  margin-top: 60px;
  padding: 30px;
  border: 2px solid #1e2034;
}

.form-control a:hover{
  border-color: #ffda05;
}

.form-control:hover{
  border-color: #ffda05;
}

    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    
    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }

    @media (max-width: 900px) {
    .carousel {
    width:auto;
    height:auto;
    }
    }

      
    @media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

