@media (max-width: 900px) {
    .carousel {
      width:auto;
      height:auto;
    }
}

.navbar {
    margin-bottom: 100px;
}

.carousel {
    width: 1200px;
    height:500px;
    margin: auto;
    align-items: center;
  }

    /* .Carousel {
        width: 500px;
        height:100px;
        margin: auto;
        align-items: center;
    } */


/* .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */

/* .GridCard{
    padding-top: 20px;
    margin-top: 400px;
} */

.row {
   padding-top: 100px;
}
  