@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
.otsikko{
  size: auto;
}


.g-4{
width: 600px;
}


.navbar {
  height: 100px;
  background-color: #141623;

}


.row {
   padding-top: 50px;
}
  

.col{
  margin-bottom: 10px;
}


#basic-nav-dropdown{
  color: #f5f5f5;
}

.bg-grey {
  background-color: #eae8e8;
}

.karuselli{
 height: auto;
 width: auto;
 margin: auto;
 align-items: center;
}

.d-block{
  height: auto;
}

/*Dropdown menun tyylit*/
.nav-item .dropdown-menu {
  background-color: #f5f5f5;
}

.linkki{
  color: #141623;
}

.dropdown-menu a:hover {
  color: #f5f5f5;
  background-color :#1e2034;
}

.navbar-nav{
  margin-left: 15px;
}

/*Ostoskori merkin tyylit*/
.ostoskori {
  list-style: none;
  font-size: 20px;
}


/*Ostoskorin sisällön koodit*/
.header{
  color: #f5f5f5;
  padding-bottom: 10px;

}

.euro{
  color: #f5f5f5;
  height: 50px;
  border-bottom: 1.5px solid #f5f5f5;
  height: 125px;
}

.summa{
  color: #f5f5f5;
  height: 50px;
}


    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    
    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }

    @media (max-width: 900px) {
    .carousel {
    width:auto;
    height:auto;
    }
    }

      
    @media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

